.heroe-banner {

  background: var( --dark-alt );
  padding: 1.5vh 0;
}

.heroe-banner figure {

  color: var( --light );
  display: flex;
  flex-direction: column;
  align-items: center;

}

.heroe-banner figure figcaption {

  margin: 1.85vh 0;
  font-size: var( --fsize-md );

}

@media screen and (max-width: 800px), (max-height: 500px) {


  .heroe-banner figure img {

    width: 128px;
    height: 128px;
  }

  .heroe-banner figure figcaption {

    font-size: var( --fsize-sm );

  }

}
